.navbar-toggler {
    border: none;
    cursor: pointer;
  }
  
  .collapse.show {
    display: block !important;
  }
  
  .navbar-nav .nav-item {
    margin-bottom: 0.5rem;
  }
  
  .navbar-nav .nav-link {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  
  @media (max-width: 576px) {
    .navbar-nav {
      text-align: center;
    }
  }
  
/* Udržte pevnou výšku navbaru */
.navbar-brand {
    display: flex;
    align-items: center; /* Vertikální centrování */
    height: 60px; /* Nastavte výšku navbaru podle potřeby */
  }
  
  .navbar-logo {
    max-height: 110px; /* Maximální výška loga */
    width: auto; /* Zachování poměru stran */
    margin-top: -30px; /* Posun loga nahoru */
  }
  
  